<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.coderschool.speakup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.CredentialActivity">

        </activity>
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LevelTestActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.ConversationActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.PracticePronunciationActivity"
            android:label="@string/practice_pronunciation"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.DemoUiActivity" />
        <activity
            android:name=".view.PracticeSoundActivity"
            android:parentActivityName=".view.PracticePronunciationActivity" />
        <activity
            android:name=".view.SampleConversationActivity"
            android:label="@string/sample_conversations"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.ConversationListActivity" />
        <activity
            android:name=".view.SampleConversationDetailActivity"
            android:parentActivityName=".view.SampleConversationActivity"></activity>
    </application>

</manifest>